In [1]:
import numpy as np
import pandas as pd

In [6]:
details = pd.read_csv(r"C:\Users\karsa\Downloads\nba\games_details.csv")
ranking = pd.read_csv(r"C:\Users\karsa\Downloads\nba\ranking.csv")
teams = pd.read_csv(r"C:\Users\karsa\Downloads\nba\teams.csv")
games = pd.read_csv(r"C:\Users\karsa\Downloads\nba\games.csv")

C:\Users\karsa\AppData\Local\Temp\ipykernel_5492\1033310574.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  details = pd.read_csv(r"C:\Users\karsa\Downloads\nba\games_details.csv")

In [8]:
ranking["SEASON_ID"].value_counts()

22010    12480
22019    12240
22018    10470
22017    10380
22021    10380
22004    10260
22009    10230
22007    10230
22013    10200
22006    10200
22012    10200
22016    10200
22015    10200
22014    10170
22003    10150
22005    10140
22008    10140
22020     8573
22011     8550
22022     1980
12019      900
12006      780
12009      780
12015      750
12012      750
12014      720
12007      720
12016      720
12013      720
12008      690
12010      690
12003      667
12005      660
12004      630
12022      540
12018      540
12017      510
12021      480
12020      336
12011      270
22002      116
Name: SEASON_ID, dtype: int64

In [7]:
def get_labels(ranking):
    temp = ranking.copy(deep=False)
    temp = temp.groupby(['TEAM_ID','SEASON_ID'])['G','W'].max()
    temp = pd.DataFrame(temp)
    temp.reset_index(inplace=True)
    drops = []
    for i in range(len(temp)):
        if temp.iloc[i,1] / 10000 > 2:
            temp.iloc[i,1] = temp.iloc[i,1] % 10000
        else:
            drops.append(i)
            continue;
        if (temp.iloc[i,2] != 82):
            drops.append(i)
    for i in range(len(drops)):
        temp.drop([drops[i]], inplace=True)
    temp.reset_index(inplace=True)
    temp.drop(columns=['index'], inplace=True)
    temp.drop(columns=['G'], inplace=True)
    return temp

labels = get_labels(ranking)
labels

C:\Users\karsa\AppData\Local\Temp\ipykernel_5492\1697158769.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  temp = temp.groupby(['TEAM_ID','SEASON_ID'])['G','W'].max()

        TEAM_ID  SEASON_ID   W
0    1610612737       2002  35
1    1610612737       2003  28
2    1610612737       2004  13
3    1610612737       2005  26
4    1610612737       2006  30
..          ...        ...  ..
501  1610612766       2015  48
502  1610612766       2016  36
503  1610612766       2017  36
504  1610612766       2018  39
505  1610612766       2021  43

[506 rows x 3 columns]